<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
 
 <listener class-name="listener.ExtentReporterNG"></listener>
 
 </listeners>
  <test name="Test">
    <classes>
      <class name="Calculator.Calculator.ExampleTest3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
